@import url("https://fonts.googleapis.com/css2?family=Knewave&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
.hero-page-main {
  position: relative;
  height: 100vh;
  width: 100%;
  background: url("../../assets/background2.png");
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

@media screen and (max-width: 1200px) {
  .hero-page-main {
    height: 100vh;
  }
}

.hero-page-main .background1 {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.hero-page-main .row-1 {
  position: relative;
  height: 95%;
  width: 100%;
  top: 0;
}

.hero-page-main .row-1 .info-column {
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  background: none;
}

@media screen and (max-width: 1200px) {
  .hero-page-main .row-1 .info-column {
    height: 300px;
  }
}

.hero-page-main .row-1 .info-column .hero-header {
  position: relative;
  top: 20%;
  color: white;
  font-size: 50px;
  font-family: "Knewave", cursive;
  border-bottom: 2px solid white;
  -webkit-animation: fadedown 2s;
          animation: fadedown 2s;
}

.hero-page-main .row-1 .info-column .hero-paragraph {
  position: relative;
  top: 20%;
  color: white;
  text-align: center;
  padding: 20px 30px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  -webkit-animation: fadeup 3s;
          animation: fadeup 3s;
}

.hero-page-main .row-1 .info-column .work-cont {
  position: relative;
  background: none;
  width: 100%;
  height: 400px;
  top: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-page-main .row-1 .info-column .work-cont .work-h1 {
  position: relative;
  top: 0%;
  font-family: "Knewave", cursive;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.hero-page-main .row-1 .info-column .work-cont .work-desc {
  color: white;
}

.hero-page-main .row-1 .info-column .work-cont .work-link {
  color: white;
  font-family: 20px;
  padding: 10px 40px;
  border: 2px solid white;
  border-radius: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.hero-page-main .row-1 .info-column .work-cont .work-link:hover {
  text-decoration: none;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  background: #2196f3;
}

.hero-page-main .row-1 .info-column .work-cont .hidden {
  display: none;
}

.hero-page-main .row-1 .work-col {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
  height: 100%;
}

@media screen and (max-width: 1200px) {
  .hero-page-main .row-1 .work-col {
    height: 300px;
  }
}

.hero-page-main .row-1 .work-col .svg-container {
  position: relative;
  height: 60%;
  width: 100%;
  top: 5%;
  background: none;
  -webkit-animation: fadein 2s;
          animation: fadein 2s;
}

.hero-page-main .row-1 .work-col .workh1 {
  position: relative;
  top: 10%;
  font-family: "Knewave", cursive;
  text-align: center;
  width: 100%;
  color: white;
  background: none;
  font-size: 30px;
  -webkit-animation: fadein 2s;
          animation: fadein 2s;
}

.hero-page-main .row-1 .work-col .carousel-container {
  position: relative;
  background: none;
  top: 10%;
  width: 60%;
  height: 150px;
  -webkit-animation: fadein 2s;
          animation: fadein 2s;
}

.hero-page-main .row-1 .work-col .carousel-container .slider {
  position: relative;
  width: 100%;
  height: 100%;
  background: none;
}

.hero-page-main .row-1 .work-col .carousel-container .slider .svg-link {
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.hero-page-main .row-1 .work-col .carousel-container .slider .svg-link:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

@-webkit-keyframes fadeup {
  from {
    opacity: 0;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes fadeup {
  from {
    opacity: 0;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes fadedown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes fadedown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

#frontwheel,
#backwheel {
  -webkit-animation: wheel 0.5s infinite linear;
          animation: wheel 0.5s infinite linear;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

#car1 {
  -webkit-animation: carlefttoright 10s infinite linear;
          animation: carlefttoright 10s infinite linear;
}

@-webkit-keyframes carlefttoright {
  from {
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
  }
  to {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
  }
}

@keyframes carlefttoright {
  from {
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
  }
  to {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
  }
}

@-webkit-keyframes wheel {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes wheel {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

#tree1 {
  -webkit-animation: wavy 5s infinite ease-in-out;
          animation: wavy 5s infinite ease-in-out;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

#tree2 {
  -webkit-animation: wavy 3s infinite ease-in-out;
          animation: wavy 3s infinite ease-in-out;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

#tree3 {
  -webkit-animation: wavy 5s infinite linear;
          animation: wavy 5s infinite linear;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

@-webkit-keyframes wavy {
  0% {
    -webkit-transform: skewX(-2deg);
            transform: skewX(-2deg);
  }
  50% {
    -webkit-transform: skewX(0deg);
            transform: skewX(0deg);
  }
  100% {
    -webkit-transform: skewX(-2deg);
            transform: skewX(-2deg);
  }
}

@keyframes wavy {
  0% {
    -webkit-transform: skewX(-2deg);
            transform: skewX(-2deg);
  }
  50% {
    -webkit-transform: skewX(0deg);
            transform: skewX(0deg);
  }
  100% {
    -webkit-transform: skewX(-2deg);
            transform: skewX(-2deg);
  }
}

#bird1,
#bird4,
#bird5 {
  -webkit-animation: birdpulse 10s infinite linear;
          animation: birdpulse 10s infinite linear;
  -webkit-transform-origin: center;
          transform-origin: center;
}

#bird2,
#bird3 {
  -webkit-animation: birdpulse 15s infinite linear;
          animation: birdpulse 15s infinite linear;
}

@-webkit-keyframes birdpulse {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes birdpulse {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

#heart5,
#heart4,
#heart3,
#heart2,
#heart1 {
  -webkit-animation: fadeinup 10s infinite linear;
          animation: fadeinup 10s infinite linear;
}

#plant {
  -webkit-animation: wavy2 5s infinite;
          animation: wavy2 5s infinite;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

@-webkit-keyframes wavy2 {
  0% {
    -webkit-transform: skewX(-5deg);
            transform: skewX(-5deg);
  }
  50% {
    -webkit-transform: skewX(0deg);
            transform: skewX(0deg);
  }
  100% {
    -webkit-transform: skewX(-5deg);
            transform: skewX(-5deg);
  }
}

@keyframes wavy2 {
  0% {
    -webkit-transform: skewX(-5deg);
            transform: skewX(-5deg);
  }
  50% {
    -webkit-transform: skewX(0deg);
            transform: skewX(0deg);
  }
  100% {
    -webkit-transform: skewX(-5deg);
            transform: skewX(-5deg);
  }
}

@-webkit-keyframes fadeinup {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  25% {
    opacity: 1;
  }
  50% {
    -webkit-transform: translateY(-29px);
            transform: translateY(-29px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes fadeinup {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  25% {
    opacity: 1;
  }
  50% {
    -webkit-transform: translateY(-29px);
            transform: translateY(-29px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.homepage-2-container {
  position: relative;
  height: 100vh;
  background: #2a2a72;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homepage-2-container .circle1 {
  position: absolute;
  top: -10%;
  left: -20%;
  height: 900px;
  width: 900px;
  border-radius: 50%;
  background: #2195f356;
}

.homepage-2-container .circle2 {
  position: absolute;
  bottom: 5%;
  right: -20%;
  height: 600px;
  width: 600px;
  border-radius: 50%;
  background: #009ffd;
  background: linear-gradient(133deg, #009ffd 0%, #2a2a72 100%);
  -webkit-animation: wheel 5s infinite linear;
          animation: wheel 5s infinite linear;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

.homepage-2-container .homepage-2-row {
  position: relative;
  height: 50%;
  width: 95%;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homepage-2-container .homepage-2-row .col-1,
.homepage-2-container .homepage-2-row .col-4 {
  position: relative;
  height: 100%;
  background: red;
}

.homepage-2-container .homepage-2-row .col-2,
.homepage-2-container .homepage-2-row .col-3 {
  position: relative;
  height: 100%;
  background: blue;
}

@-webkit-keyframes spincircle {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes spincircle {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}
/*# sourceMappingURL=landingpage.css.map */