// Fonts
@import url("https://fonts.googleapis.com/css2?family=Knewave&display=swap");
$font1: "Knewave", cursive;
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");
$font2: "Rubik", sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
$font3: "Pacifico", cursive;

.container-fld {
  position: relative;
  height: 100vh;
  background: #2a2a72;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: hidden;
  .review-row {
    position: relative;
    height: 100%;
    width: 100%;
    .col-1 {
      position: relative;
      background: none;
      height: 40%;
      display: flex;
      align-items: center;
      justify-content: center;
      .review-text {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 50%;
        background: none;
        @media screen and (max-width: 1000px) {
          width: 100%;
        }
        h1 {
          position: relative;
          color: white;
          width: 100%;
          background: none;
          text-align: center;
          span {
            color: #2196f3;
          }
        }
        p {
          color: white;
          text-align: center;
          padding: 0px 100px;

          @media screen and (max-width: 1000px) {
            padding: 0px 20px;
          }
        }
        a {
          color: white;
          padding: 10px 50px;
          border: 2px solid #2196f3;
          border-radius: 20px;
          cursor: pointer;
          z-index: 10;
          transition: 0.5s;
          animation: bounce 1s infinite ease-in-out;
          &:hover {
            color: #2196f3;
            text-decoration: none;
            padding: 10px 100px;
            background: none;
            letter-spacing: 5px;
            animation: none;
          }
        }
      }
    }
    .review-col {
      position: relative;
      height: 60%;
      width: 100%;
      background: none;
      display: flex;
      justify-content: center;
      top: 0%;
      .slider-2 {
        position: relative;
        height: 350px;
        width: 90%;
        background: none;
        @media screen and (max-width: 1000px) {
          width: 100%;
        }
        .review-cnt {
          position: relative;
          background: none;
          height: 350px;
          width: 100%;
          background: none;
          display: flex;
          justify-content: center;
          .inner-cnt {
            position: relative;
            height: 100%;
            width: 90%;
            left: 5%;
            background: whitesmoke;
            box-shadow: 0px 0px 10px black;
            border-radius: 10px;
            transition: 0.5s;
            .quote-box {
              position: relative;
              height: 40%;
              width: 100%;
              background: none;
              display: flex;
              align-items: center;
              flex-direction: row;
              .sidebar {
                position: relative;
                height: 90%;
                width: 20px;
                left: 5%;
                background: #2196f3;
              }
              p {
                font-size: 20px;
                padding: 0px 50px;
                font-family: $font2;
                text-align: center;

                @media screen and (max-width: 1000px) {
                  font-size: 10px;
                }
              }
            }
            .quoter-box {
              position: relative;
              height: 60%;
              width: 100%;
              background: none;
              display: flex;
              flex-direction: row;
              align-items: center;
              .profile-pic {
                position: relative;
                height: 50px;
                width: 50px;
                padding-left: 50px;
                cursor: pointer;
              }
              .quoter-info {
                position: absolute;
                height: 100%;
                width: 80%;
                right: 0%;
                background: noen;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                .name {
                  position: relative;
                  color: #2196f3;
                }
                .company-name {
                  position: relative;
                  bottom: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
