@import url("https://fonts.googleapis.com/css2?family=Knewave&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
.container-fld {
  position: relative;
  height: 100vh;
  background: #2a2a72;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-x: hidden;
}

.container-fld .review-row {
  position: relative;
  height: 100%;
  width: 100%;
}

.container-fld .review-row .col-1 {
  position: relative;
  background: none;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-fld .review-row .col-1 .review-text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 50%;
  background: none;
}

@media screen and (max-width: 1000px) {
  .container-fld .review-row .col-1 .review-text {
    width: 100%;
  }
}

.container-fld .review-row .col-1 .review-text h1 {
  position: relative;
  color: white;
  width: 100%;
  background: none;
  text-align: center;
}

.container-fld .review-row .col-1 .review-text h1 span {
  color: #2196f3;
}

.container-fld .review-row .col-1 .review-text p {
  color: white;
  text-align: center;
  padding: 0px 100px;
}

@media screen and (max-width: 1000px) {
  .container-fld .review-row .col-1 .review-text p {
    padding: 0px 20px;
  }
}

.container-fld .review-row .col-1 .review-text a {
  color: white;
  padding: 10px 50px;
  border: 2px solid #2196f3;
  border-radius: 20px;
  cursor: pointer;
  z-index: 10;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation: bounce 1s infinite ease-in-out;
          animation: bounce 1s infinite ease-in-out;
}

.container-fld .review-row .col-1 .review-text a:hover {
  color: #2196f3;
  text-decoration: none;
  padding: 10px 100px;
  background: none;
  letter-spacing: 5px;
  -webkit-animation: none;
          animation: none;
}

.container-fld .review-row .review-col {
  position: relative;
  height: 60%;
  width: 100%;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0%;
}

.container-fld .review-row .review-col .slider-2 {
  position: relative;
  height: 350px;
  width: 90%;
  background: none;
}

@media screen and (max-width: 1000px) {
  .container-fld .review-row .review-col .slider-2 {
    width: 100%;
  }
}

.container-fld .review-row .review-col .slider-2 .review-cnt {
  position: relative;
  background: none;
  height: 350px;
  width: 100%;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-fld .review-row .review-col .slider-2 .review-cnt .inner-cnt {
  position: relative;
  height: 100%;
  width: 90%;
  left: 5%;
  background: whitesmoke;
  -webkit-box-shadow: 0px 0px 10px black;
          box-shadow: 0px 0px 10px black;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container-fld .review-row .review-col .slider-2 .review-cnt .inner-cnt .quote-box {
  position: relative;
  height: 40%;
  width: 100%;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container-fld .review-row .review-col .slider-2 .review-cnt .inner-cnt .quote-box .sidebar {
  position: relative;
  height: 90%;
  width: 20px;
  left: 5%;
  background: #2196f3;
}

.container-fld .review-row .review-col .slider-2 .review-cnt .inner-cnt .quote-box p {
  font-size: 20px;
  padding: 0px 50px;
  font-family: "Rubik", sans-serif;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .container-fld .review-row .review-col .slider-2 .review-cnt .inner-cnt .quote-box p {
    font-size: 10px;
  }
}

.container-fld .review-row .review-col .slider-2 .review-cnt .inner-cnt .quoter-box {
  position: relative;
  height: 60%;
  width: 100%;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-fld .review-row .review-col .slider-2 .review-cnt .inner-cnt .quoter-box .profile-pic {
  position: relative;
  height: 50px;
  width: 50px;
  padding-left: 50px;
  cursor: pointer;
}

.container-fld .review-row .review-col .slider-2 .review-cnt .inner-cnt .quoter-box .quoter-info {
  position: absolute;
  height: 100%;
  width: 80%;
  right: 0%;
  background: noen;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.container-fld .review-row .review-col .slider-2 .review-cnt .inner-cnt .quoter-box .quoter-info .name {
  position: relative;
  color: #2196f3;
}

.container-fld .review-row .review-col .slider-2 .review-cnt .inner-cnt .quoter-box .quoter-info .company-name {
  position: relative;
  bottom: 0;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
/*# sourceMappingURL=review.css.map */